{{> post-details}}

{{#if logged_in}}
<div class="card">
    <h3 class="card-header"></h3>
    <form class="card-body comment-form" id="comment-form">

        <label class="form-label">Comment</label>
        <input id="comment" name="comment-body" class="form-input" />

        <button type="submit" class="btn" data-id="{{id}}" id="submit">Submit</button>
    </form>
</div>
{{/if}}

{{> comment-details}}

{{#if logged_in}}
<script src="/js/comment.js"></script>
{{/if}}